<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="msapplication-TileImage" content="{{ icon }}" />
  <meta property="og:locale" content="hy_AM" />
  <meta property="og:site_name" content="Secret Language Network" />
  <meta property="og:title" content="{{ metaTitle }}" />
  <meta property="og:url" content="{{ sharedUrl }}" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="{{ report.report }}" />
  <meta property="og:image:secure_url" content="{{ imageUrl }}" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="500" />
  <meta property="og:image:url" content="{{ imageUrl }}" />

  <meta itemprop="name" content="{{ metaTitle }}" />
  <meta name='keywords' content="secret language network, relationships, online chat, horoscope, social networking service, dating, online dating service, social network, business, romance, books, astrology or friendship" />
  <meta itemprop="headline" content="{{ metaTitle }}" />
  <meta itemprop="description" content="{{ report.report }}" />
  <meta itemprop="image" content="{{ imageUrl }}" />

  <meta name="twitter:title" content="{{ metaTitle }}" />
  <meta name="twitter:url" content="{{ sharedUrl }}" />
  <meta name="twitter:description" content="{{ report.report }}" />
  <meta name="twitter:image" content="{{ imageUrl }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@SecretLanguage" />

  <link rel="canonical" href="{{ sharedUrl }}" />
  <meta name="description" content="{{ report.report }}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="https://sln-storage.s3.us-east-2.amazonaws.com/icons/%F0%9F%92%96+icon.png" size="16x16" type="image/jpg">
  <title>{{ report.name }}</title>
  <style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #FFFFFF;
  background: #091624;
  background-image: url('https://sln-storage.s3.us-east-2.amazonaws.com/icons/solar-system-background.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.borderc{
  border: solid 1px #AE9463 !important;
}
.borderbottom{
  border-bottom: solid 1px;
}
.bcolor{
  border-color: #AE9463 !important;
}
.logo{
  border-radius: 10px;
}
.logoimg{
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}
.tcolor{
  color: #AE9463 !important;
}

.dateimg{
  width: 8rem;
  height: 8rem;
}

.footer{
  background: #050E17 !important;
  font-family: Avenir;
  text-align: center;
}

@media (min-width:320px) and (max-width:570px) {
  .dateimg{
    width: 6rem;
    height: 7rem;
  }
}

@media (min-width: 576px) {  
  .dateimg{
    width: 8rem;
    height: 8rem;
  }
}

@media (min-width: 768px) { 
  .dateimg{
    width: 10rem;
    height: 10rem;
  }
}

@media (min-width: 992px) { 
  .dateimg{
    width: 11rem;
    height: 11rem;
  }
}

@media (min-width: 1200px) { 
  .dateimg{
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 1400px) { 
  .dateimg{
    width: 13rem;
    height: 13rem;
  }
}

  </style>
</head>
  <body>
    <div class="container">
      <div class="row borderbottom align-items-center d-md-none py-1 ">
        <div class="col-6">
          <img src="./AppIcon.png" class="logoimg borderc bcolor" alt="App Icon">
        </div>
        <div class="col-6 text-end">
          <a href="https://apps.apple.com/us/app/secret-language-of-birthdays/id1558133582">
            <button type="button" class="btn btn-sm btn-outline-warning">Download </button>
          </a>
        </div>
      </div>
    </div>
<!-- --------------------------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="mb-3 mt-1 text-center fs-lg-1 fs-xl-1 fs-md-2 fs-sm-3 fs-xs-3 "><span class="borderbottom bcolor">Secret Language of Birthdays & Relationships</span></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-5 text-left">
          <p class="tcolor fs-sm-5 fs-md-4 fs-lg-2 fs-xl-2  m-0">{{ report.birthday_1 }}</p>
          <p class="text-white fs-4">{{ report.birthday_1_name }}</p>
        </div>
        <div class="col-2 text-center">
          <p class="and bcolor ">&</p>
        </div>
        <div class="col-5 text-end">
          <p class=" fs-xs-5 fs-sm-5 fs-md-4 fs-lg-2 fs-xl-2  tcolor m-0">{{ report.birthday_2 }}</p>
          <p class="fs-4 ">{{ report.birthday_2_name }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center ">
          <p class="tcolor my-1 fs-3 fs-xs-5 fs-sm-5 fs-md-4 fs-lg-2 fs-xl-2 ">IS CALLED</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4  text-start">
          <p class="date mb-1">{{ report.s1 }}</p>
          <p class="date mb-1">{{ report.s2 }}</p>
          <p class="date mb-1">{{ report.s3 }}</p>
        </div>
        <div class="col-4 text-center">
          <img src="{{ report.image }}" alt="bg-icon" class="dateimg" />
        </div>
        <div class="col-4 pr-2 text-end">
          <p class="date mb-1">{{ report.w1 }}</p>
          <p class="date mb-1">{{ report.w2 }}</p>
          <p class="date mb-1">{{ report.w3 }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <p class="fs-1 m-0 tcolor fw-bold text-uppercase">{{ report.name }}</p>
          <p class="f-4">Ideal for: <span class="fs-3 tcolor text-uppercase">{{ report.ideal_for }}</span></p>
          <p class="f-4 d-none">Problematic for: <span class="fs-3 tcolor text-uppercase">{{ report.problematic_for }}</span></p>
        </div>
      </div>

      <div class="row border-top bcolor">
        <div class="col-12">
          <h1 class="fs-1 py-3 text-center tcolor">Relationship Report</h1>
        </div>
        <div class="col-12">
          <p class="d-none" id="rreport">{{ report.report }}</p>
          <p class="text-justify mt-2 fs-md-5 fs-lg-6" id="rsreport"></p>
        </div>
      </div>

      <div class="row border-top bcolor my-4">
        <div class="col-12">
          <h1 class="fs-1 py-3 text-center text-capitalize tcolor">Advice</h1>
        </div>
        <div class="col-12">
          <p class="fs-md-5 fs-lg-6" id="radvice">{{ report.advice }}</p>
        </div>
      </div>
    </div>

    <footer class="footer mt-5 p-5">
      <p class="footer-line my-1">© 1994-2021, Gary Goldschneider, Thomas Rezek</p>
      <p class="footer-line my-0">Joost Elffers. All Rights Reserved Worldwide. Designed by Doejo</p>
    </footer>

    <a href="secretlanguageapp://relationship={{ shareId }}" style="display: none;" id="hiddenAppLink"></a>

  </body>

  <script>
    document.getElementById('rsreport').innerHTML = document.getElementById('rreport').innerHTML.slice(0, 350) + '<br> <button class="btn btn-primary mt-3" onclick="show()">Read More...</button>';
  
    function show() {
      document.getElementById('rsreport').innerHTML = document.getElementById('rreport').innerHTML + '<br> <button class="btn btn-primary mt-3" onclick="hide()">Show Less...</button>';
    }
    function hide() {
      document.getElementById('rsreport').innerHTML = document.getElementById('rreport').innerHTML.slice(0, 350) + '<br> <button class="btn btn-primary mt-3" onclick="show()">Read More...</button>';
    }
  </script>
  
  <script>
    window.onload = () => {
      let element = document.getElementById("hiddenAppLink");
      element && element.click();
      window.location = `secretlanguageapp://relationship=${shareId}`;
    };
  </script>
  

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>

</html>